<!DOCTYPE html>
<html lang="en">
<head>
    <title>Allocation</title>
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=datetime-local], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


div {
    border-radius: 5px;
  background-color: #f2f2f2;
  margin: 150px;
  padding: 20px;
  width: 250px;
  text-align: center;

position: absolute;
	top:100;
	bottom: 250;
	left: 0;
	right: 0;

	margin: auto;
}
p{
   text-align: center;
}


input[type=button] {
  width: 10%;
  background-color: #a9a9a9;
  color: white;
  padding: 14px 0px;
  margin: 18px 0;

 position: absolute; right: 0;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
</style>
</head>
<body>
    <div>
        <form action="/back" method="post"></form>
        <p><b>NO REQUESTS</b></p>
        <input type ="submit" value="Go Back" class="button">
        </form>
    </div> 
</body>
</html>






