<!DOCTYPE html>
<html lang="en">
<head>
    <title>Resources</title>
</head>
<body>

<form action="/Resource1" method='get'>
    <p>Resource -> </p><input type="submit" value="R1">
</form>

<form action="/Resource2" method='get'>
    <p>Resource -> </p><input type="submit" value="R2">
</form>

<form action="/Resource3" method='get'>
    <p>Resource -> </p><input type="submit" value="R3">
</form>

<form action="/Resource4" method='get'>
    <p>Resource -> </p><input type="submit" value="R4">
</form>

<form action="/Resource5" method='get'>
    <p>Resource -> </p><input type="submit" value="R5">
</form>

</body>
</html>